.badge {
    top: 235px;
    right: 20px;
    

}

.margin {

    margin-left: 5px;
}

.border {

    border: 3px solid #005500;
    border-radius: 10px;
    
    
    

}

.imgFluid {
    
    border-radius: 5px 5px 0 0;
}

@media (max-width: 576px){

    .badge{
        right: 3vh;
        top: 40vh;
    }
}