@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.creepster {
  font-family: 'Creepster';
  

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
